<!-- header -->
<%- include('./partials/header.ejs') %>


<h1 class="" style="font-weight:bold; font-size: 3.5rem;">Your API For You!</h1>
<h2 class="text-muted">Create, collaborate and make every API made by and for you!</h2>

<!-- footer -->
<%- include('./partials/footer.ejs') %>